@import "bootstrap/scss/bootstrap";

// Commons
body {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 104px;
}

.top-scroll-margin {
    scroll-margin-top: 104px;
}

.my-section-padding {
    padding: 100px 12px;
}

.my-bio-title-padding {
    padding: 50px 12px;
}

.my-button {
    display: block;
    color: white;
    text-decoration: none;
    width: fit-content;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: orange;
    transition: 0.3s ease-in;
}

.my-button:hover {
    border: 2px solid orange;
    color: orange;
    background-color: transparent;
}

.my-project-mb {
    margin-bottom: 7rem;
}

.my-orange-text {
    color: orange;
}

p {
    font-weight: 600;
}